body {
    font-family: 'Gabarito', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
}

.nav-links {

    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: flex-end;
    padding: 20px;
}

.nav-container {

    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: flex-end;
    margin-right: 0;

}

a {
    text-decoration: none;
    padding: 10px;

}

a:visited {
    color: #222222;
}

a:link {
    color: #222222;
}

a:hover {
    color: hotpink;
}

.profile-picture {

    width: 75%;
    height: 75%;


}

.welcome-text {

    font-size: 45px;
    display: flex;
    text-align: center;
}

.welcome-to-mypage {

    display: flex;
    align-items: center;

}

.profile-description {
    padding: 60px;
    font-size: 20px;
    width: 50%;
}

.picture-container {
    width: 50%;
    overflow: hidden;
}

.aspect-ratio {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.skills-section {

    background-color: #222222;
    color: white;
    padding: 10px;
    font-size: 45px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

}

.skills-list {
    font-size: 38px;
    list-style: none;
}

.recent-work {
    text-align: center;
    font-size: 40px;
}

.woy-container {

    display: flex;
}

.woy-intro-pic {

    width: 50%;
    display: flex;
    align-self: center;
}

.woy-text {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    padding: 20px;
    align-self: center;

}

.woy-actual-image {

    width: 100%;

}

.strategies-section {

    background-color: #222222;
    color: white;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;


}